.navbar-brand{
font-family: monospace;
}
nav{
    background-color: black;
}

main{
        height: 100vh;
            margin-top:5% ;


}

.navbar-brand{
    transition: opacity 1.5s text-decoration 1.5s;
}


.navbar-brand:hover{
    text-decoration: underline;
    opacity: 0.5;
    transform: scale(1.25);
  transition: all 0.3s ease-in-out;
}

.navbar-brand:active{
    opacity: 0.5;
}

.nav-item {
    margin-right: 10px;
  }


.header-section{
    width: 100%;
    height: inherit;
    background-image: url(image/cover.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-section{
    height: 30%;
}

.aside-section{
        height: auto;

}

.model-img{
    height: 100%;
      transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.model-img:hover {
  transform: scale(1.05);
  /* transition: all 1s ease-in-out; */
  box-shadow: 0 10px 20px rgba(207, 199, 199, 0.7);
  border-radius: 10px;
  cursor: pointer;
}
