nav{
    background-color: black;
}

main{
        height: 100vh;
            margin-top:5% ;


}


.nav-item {
    margin-right: 10px;
  }


.header-section{
    width: 100%;
    height: inherit;
    background-image: url(image/cover.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}