.navbar-brand{
font-family: monospace;
}
nav{
    background-color: black;
}

main{
        height: 100vh;
            margin-top:5% ;


}

.navbar-brand {
  transition: transform 0.5s ease-in-out, opacity 1s;
}

.navbar-brand:hover {
  text-decoration: underline; /* this will toggle instantly */
  opacity: 0.5;
  transform: scale(1.25);
}


.navbar-brand:active{
    opacity: 0.5;
}

.nav-item {
    margin-right: 10px;
  }


.first-section{
    width: 100%;
    height: inherit;
    background-image: url(image/cover.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-section{
    height: 30%;
}

.header-section{
        height: auto;

}

.model-img{
    height: 100%;
      transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.model-img:hover {
  transform: scale(1.05);
  /* transition: all 1s ease-in-out; */
  box-shadow: 0 10px 20px rgba(207, 199, 199, 0.7);
  border-radius: 10px;
  cursor: pointer;
}

.discovery-section{
  /* height: 10; */
}

.deco-box{
  height: 70vh;
}

.deco-img{
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.promotion-box{
  border-radius: 30%;
}

